@import "mixin";
@import "responsive";
@import "App";
@import "navBar";
@import "content";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// --------------------------
//
body::-webkit-scrollbar {
  width: 1em;
  /* background-color: #fff; */
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgb(0, 0, 0);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(15, 15, 15);
  outline: none;
}
//
// -------------------------
// -------------------------
//
:root {
  --primary: red;
  font-size: 16px;
}

body {
  background-color: lemonchiffon;
  overflow-x: hidden;
}

.btn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--primary);
  color: #242424;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-in-out;
}

.btn--outline {
  background-color: seagreen;
  color: sienna;
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-in-out;
}

.btn-medium {
  padding: 8px 20px;
  font-size: 20px;
  &:hover {
    background-color: fuchsia;
    color: yellowgreen;
    transition: all 0.3s ease-in-out;
  }
}

.btn-large {
  padding: 12px 26px;
  font-size: 20px;
  &:hover {
    background-color: rgb(0, 3, 158);
    color: rgb(205, 112, 50);
    transition: all 0.3s ease-in-out;
  }
}
